# python에서 제공하는 문자열 내장함수

In [2]:
# 문자열의 길이를 출력(공백포함)
a='hello'
b=' hello '

print(len(a))
print(len(b))

5
7

In [3]:
# 문자의 형태를 변환(대,소문자변환)
a='Hello world'
# 문자를 모두 대문자로 변환
print(a.upper())
# 문자를 모두 소문자로 변환
print(a.lower())
# 문자의 대문자를 소문자로 소문자를 대문자로 변환
print(a.swapcase())
# 단어의 첫글자를 대문자로 변환
print(a.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [4]:
_list=[4,3,2,6]
print(_list.sort())

None

In [5]:
print(a)

Hello world

In [7]:
# 문자열 좌우의 공백을 제거하는 함수
test_text='   Hello world    '
print(test_text)

   Hello world

In [8]:
# 양쪽의 공백을 모두 제거 : strip()
test_text.strip()

'Hello world'

In [10]:
# 좌측의 공백을 제거 : lstrip()
test_text.lstrip()

'Hello world    '

In [11]:
# 우측의 공백을 제거 : rstrip()
test_text.rstrip()

'   Hello world'

In [14]:
# 문자 형식을 숫자 형식으로 변환
test='$100'
print(type(test))

print(test)
test=test.lstrip('$')
print(test)
print(type(test))
test=int(test)
print(test)
print(type(test))

<class 'str'>
$100
100
<class 'str'>
100
<class 'int'>

In [30]:
# a와 b를 같게
a='Hello world'
b=' Hello World '
a==b

b=b.strip()
a= a.upper()
b=b.upper()
print(a)
print(b)
a==b

HELLO WORLD
HELLO WORLD

True

In [34]:
# 특정 문자를 다른 문자로 치환하는 함수
# replace({특정문자},{치환할문자})
a.replace('HELLO','HI')

'HI WORLD'

In [40]:
a='상 품 A'
b='상품a'
# a변수의 데이터의 문자열 사이의 공백을 제거
a=a.replace(' ','')
b=b.upper()
a==b

True

In [41]:
# 특정 문자열을 기준으로 문자열을 나눠주는 함수
# split() -> 인자 값을 기본값으로 공백
a='a b c d'
print(a)
print(a.split())

a b c d
['a', 'b', 'c', 'd']

In [43]:
b='1/2/3/4/5/6'
print(b.split('/'))

['1', '2', '3', '4', '5', '6']

In [45]:
sql_data="""select * from user""" # '''부터 '''까지 하나의 문자열이다라고 지정하는 함수

In [44]:
sql_data2="""insert into user values('test','1234')"""

In [47]:
sql_data.strip().split()

['select', '*', 'from', 'user']

In [48]:
_list=[1,2,3,4]

In [49]:
test2=_list.reverse()
print(test)
print(test2)

100
None

In [50]:
sql_data.strip().split()[0]=='select'

True

In [51]:
sql_data3="""select * from user"""

In [52]:
sql_data3.lower().strip().split()[0]=='select'

True

In [53]:
sql_data3.lower().strip().startswith('select')

True

# 일반함수
- 어떠한 입력값을 가지고 작업을 실행하고 결과물을 되돌려주는 기능

In [54]:
def func_1(a,b):
    result=a+b
    return result

def func_2(a,b):
    result=a+b
    print(result)

In [57]:
test=func_1(3,6)

In [58]:
test2=func_2(3,6)

9

In [60]:
print(test)
print(test2) # return이 존재하지않기때문에 결과값이 none으로 출력

9
None

In [61]:
# 인자의 개수가 가변인 경우 함수 생성
def func_3(*args):
    print(type(args))
    print(args)
    print(len(args))

In [62]:
func_3(1,2,3,4,5)
func_3(6,10,'test')

<class 'tuple'>
(1, 2, 3, 4, 5)
5
<class 'tuple'>
(6, 10, 'test')
3

In [76]:
# 매개변수 2개
# 2개의 매개변수 중 작은 값을 되돌려주는 함수
def func_4(a,b):
    if a < b:
        return a
    else:
        return b

In [77]:
func_4(10,4)

4

In [78]:
min(10,5,8,13,4,6)

4

# 함수문제
- min() 함수를 똑같이 만들어보자
    - 인자의 개수는 가변
    - 지역변수 result를 생성하여 인자의 첫 번째 값을 대입
    - 각 인자의 값들을 비교하여 가장 작은 값을 지역변수에 대입
    - result를 되돌려준다

In [66]:
def min(*args):
    result=args[0]
    for i in args[1:]:
        if i < result:
            result = i
    return result

In [67]:
print(min(7,5,2,5,1,2))

1

In [ ]:
# 교수님 정답 CASE1
def func_5(*a):
    result=a[0]

    for i in range(1, len(a),1):
        if result>a[i]:
            result=a[i]
    return result

In [73]:
# 교수님 정답 CASE2
def func_5(*a):
    result=a[0]

    for i in a[1:]:
        if result>1:
            result=i
    return result

In [82]:
# 평균값을 되돌려주는 함수 생성
# 인자의 개수는 가변
def func_6(*args):
    result=0
    cnt=0
    for i in args:
        result += i
        cnt += 1
    result=result/cnt #result /= cnt로도 사용가능
    return result

func_6(1,2,3,4,5)

3.0

In [84]:
# 매개변수 2개를 생성
# 첫 번째 매개변수는 최솟값, 평균을 선택하는 변수
# 두 번째 매개변수는 인자의 개수가 가변
def func_7(flag,*args):
    if flag == 'min':
        result=args[0]
        for i in args[1:]:
            if result>i:
                result=i
    elif flag == 'mean':
        result=0
        cnt=0
        for i in args:
            result += i
            cnt += 1
        result/=cnt
    return result

In [85]:
print(func_7('mean',1,2,3,4,5))
print(func_7('min',1,2,3,4,5))

3.0
1

# class 선언
    - class 키워드를 이용하여 class 선언
    - class 이름은 일반적으로 첫 문자는 대문자로 표기
# class 생성
    - 선언이 된 class를 변수에 저장하는 과정
# class 변수와 함수를 호출
    - class가 저장되어있는 변수안에 변수, 함수를 호출

In [86]:
# class 선언
class test:
    # 생성자 함수(__init__) : class가 생성될때 실행되는 함수
    def __init__(self,_a,_b):
        # 객체 변수(self변수)를 생성
        self.a=_a
        self.b=_b

In [87]:
# class 생성
class_1=test(10,20)

In [88]:
# class 안에 있는 변수를 호출
print(class_1.a)
print(class_1.b)

10
20

In [90]:
class_2=test(30,40)
print(class_1.a)
print(class_2.a)

10
30

In [91]:
# class 선언 : 변수+함수
class test2:
    def __init__(self,_a,_b):
        self.a=_a
        self.b=_b
    def add(self):
        result=self.a+self.b
        return result

In [92]:
class_1=test2(10,20)
class_2=test2(30,40)

In [93]:
# class 안에있는 함수를 호출
print(class_1.add())
print(class_2.add())

30
70

In [95]:
class test3:
    def __init__(self,_a,_b):
        self.a=_a
        self.b=_b
        self.result=0
    # 생성된 클래스를 호출할때 실행되는 함수
    def __repr__(self):
        return str(self.res)
    
    def add(self):
        result=self.a+self.b
        return result
    
    def sub(self):
        result=self.a=self.b
        self.res=result

In [96]:
class_3=test3(10,20)
class_4=test3(30,40)

In [100]:
print(class_3.add())
print(class_4.add())

30
70

In [101]:
print(class_3.sub())
print(class_4.sub())

None
None

In [102]:
print(class_3)
print(class_4)

20
40

In [104]:
# 클래스 변수가 포함되어있는 class 선언
# 클래스 변수 : 같은 class가 생성될때 서로 공유하는 변수
# 객체 변수 : class마다 독립적인 데이터를 가지는 변수

class test4:
    user_list=[]

    def __init__(self,_id,_name):
        self.id=_id
        self.name=_name
        self.user_list.append(_id)

In [106]:
user_1=test4('test','kim')
print(user_1.id)
print(user_1.name)
print(user_1.user_list)

test
kim
['test', 'test']

In [107]:
user_2=test4('test2','park')
print(user_2.id)
print(user_2.name)
print(user_2.user_list)

test2
park
['test', 'test', 'test2']

In [108]:
print(user_1.user_list)

['test', 'test', 'test2']