In [59]:
!pip install requests

Requirement already satisfied: requests in c:\users\82105\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\82105\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\82105\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\82105\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\82105\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.11.17)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
import requests

In [61]:
# 웹 서버에 요청을 보낸다
# get 방식을 이용한 요청을 보낸다
url="https://www.google.com"
response=requests.get(url)

In [62]:
print(response)
print(response.text)

<Response [200]>
<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="ko"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var _g={kEI:'zKDWZaf2CKXS1e8PjN2swAk',kEXPI:'0,1365468,206,4804,1132070,1962,1195783,656,341,379749,44798,23792,12314,17585,4998,17075,38444,2872,2891,8349,3405,606,60690,2614,13721,20583,4,57401,2216,27050,6624,7596,1,42154,2,39761,6699,31122,4568,6256,24673,33064,2,2,1,26632,8155,23350,8702,13734,9779,8213,34246,20198,6050,55894,11235,3030,17620,21011,1826,12432,11813,342,1293,14443,3691,5248364,2,297,1809,5991649,1210,410,2806256,31653,127,1,469,15,9,7443186,20540009,1008,15664,43887,3,1603,3,499,3,2121276,2585,22636437,392914,12799,8409,10754,148,3554,2208,3385,9638,4428,2957,6,7613,5878,17455,13537,1923,660,6630,2,1296,2370,6407,2746,117,89,7509,3335,50,5520,7432,2212,153,2067,5962,3083,931,121,3781,218,3,362,2263,2481,4496,5,1231,3877,4,2362,1897,1877,2340,462,880,5576,6258,4,1550,98,1222,253,1575,219,75,2,1067,262,323,22,363,4,1097,1910,1217,466,2064,1213,3652,516,9,918,2664,1081,92,197,1503,655,292,3,1267,3,539,72,422,182,681,155,1072,410,328,605,249,381,100,291,121,2,32,1475,268,5,736,218,19,184,388,606,273,1128,27,2,2,2,929,1,324,233,1,38,25,588,50,57,2934,267,172,100,157,2,220,831,494,1940,209,363,580,139,802,84,12,3,596,914,260,291,955,55,1188,240,1207,252,22,530,191,27,107,86,234,14,4067,287,240,5,258,290,846,155,29,300,206,655,57,136,408,4,190,1345,4,856,1712,21693214,3,5571,541,214',kBL:'Gqzv',kOPI:89978449};(function(){var a;(null==(a=window.google)?0:a.stvsc)?google.kEI=_g.kEI:window.google=_g;}).call(this);})();(function(){google.sn='webhp';google.kHL='ko';})();(function(){
var h=this||self;function l(){return void 0!==window.google&&void 0!==window.google.kOPI&&0!==window.google.kOPI?window.google.kOPI:null};var m,n=[];function p(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||m}function q(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}function r(a){/^http:/i.test(a)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a}
function t(a,b,c,d,k){var e="";-1===b.search("&ei=")&&(e="&ei="+p(d),-1===b.search("&lei=")&&(d=q(d))&&(e+="&lei="+d));d="";var g=-1===b.search("&cshid=")&&"slh"!==a,f=[];f.push(["zx",Date.now().toString()]);h._cshid&&g&&f.push(["cshid",h._cshid]);c=c();null!=c&&f.push(["opi",c.toString()]);for(c=0;c<f.length;c++){if(0===c||0<c)d+="&";d+=f[c][0]+"="+f[c][1]}return"/"+(k||"gen_204")+"?atyp=i&ct="+String(a)+"&cad="+(b+e+d)};m=google.kEI;google.getEI=p;google.getLEI=q;google.ml=function(){return null};google.log=function(a,b,c,d,k,e){e=void 0===e?l:e;c||(c=t(a,b,e,d,k));if(c=r(c)){a=new Image;var g=n.length;n[g]=a;a.onerror=a.onload=a.onabort=function(){delete n[g]};a.src=c}};google.logUrl=function(a,b){b=void 0===b?l:b;return t("",a,b)};}).call(this);(function(){google.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};var d=[];google.fce=function(a,b,c,e){d.push([a,b,c,e])};google.qce=d;}).call(this);google.f={};(function(){
document.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
</style><style>body,td,a,p,.h{font-family:&#44404;&#47548;,&#46027;&#50880;,arial,sans-serif}.ko{font-size:9pt}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1967d2}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#681da8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1967d2}a:visited{color:#681da8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;color:#000;border:none;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}.Ucigb{width:458px}</style><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){window.google.erd={jsr:1,bv:1958,de:true};
var h=this||self;var k,l=null!=(k=h.mei)?k:1,n,p=null!=(n=h.sdo)?n:!0,q=0,r,t=google.erd,v=t.jsr;google.ml=function(a,b,d,m,e){e=void 0===e?2:e;b&&(r=a&&a.message);void 0===d&&(d={});d.cad="ple_"+google.ple+".aple_"+google.aple;if(google.dl)return google.dl(a,e,d),null;b=d;if(0>v){window.console&&console.error(a,b);if(-2===v)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||q>=l&&!m?!1:!0;if(!b)return null;q++;d=d||{};b=encodeURIComponent;var c="/gen_204?atyp=i&ei="+b(google.kEI);google.kEXPI&&(c+="&jexpid="+b(google.kEXPI));c+="&srcpg="+b(google.sn)+"&jsr="+b(t.jsr)+"&bver="+
b(t.bv);var f=a.lineNumber;void 0!==f&&(c+="&line="+f);var g=a.fileName;g&&(0<g.indexOf("-extension:/")&&(e=3),c+="&script="+b(g),f&&g===window.location.href&&(f=document.documentElement.outerHTML.split("\n")[f],c+="&cad="+b(f?f.substring(0,300):"No script found.")));google.ple&&1===google.ple&&(e=2);c+="&jsel="+e;for(var u in d)c+="&",c+=b(u),c+="=",c+=b(d[u]);c=c+"&emsg="+b(a.name+": "+a.message);c=c+"&jsst="+b(a.stack||"N/A");12288<=c.length&&(c=c.substr(0,12288));a=c;m||google.log(0,"",a);return a};window.onerror=function(a,b,d,m,e){r!==a&&(a=e instanceof Error?e:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)||-1!==a.message.indexOf("Script error")?3:0));r=null;p&&q>=l&&(window.onerror=null)};})();</script></head><body bgcolor="#fff"><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var src='/images/nav_logo229.png';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}
if (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}
}
})();</script><div id="mngb"><div id=gbar><nobr><b class=gb1>&#44160;&#49353;</b> <a class=gb1 href="https://www.google.com/imghp?hl=ko&tab=wi">&#51060;&#48120;&#51648;</a> <a class=gb1 href="https://maps.google.co.kr/maps?hl=ko&tab=wl">&#51648;&#46020;</a> <a class=gb1 href="https://play.google.com/?hl=ko&tab=w8">Play</a> <a class=gb1 href="https://www.youtube.com/?tab=w1">YouTube</a> <a class=gb1 href="https://news.google.com/?tab=wn">&#45684;&#49828;</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">&#46300;&#46972;&#51060;&#48652;</a> <a class=gb1 style="text-decoration:none" href="https://www.google.co.kr/intl/ko/about/products?tab=wh"><u>&#45908;&#48372;&#44592;</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.co.kr/history/optout?hl=ko" class=gb4>&#50937; &#44592;&#47197;</a> | <a  href="/preferences?hl=ko" class=gb4>&#49444;&#51221;</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=ko&passive=true&continue=https://www.google.com/&ec=GAZAAQ" class=gb4>&#47196;&#44536;&#51064;</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div></div><center><br clear="all" id="lgpd"><div id="lga"><img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo"><br><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="ko" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><div style="position:relative;zoom:1"><input class="lst Ucigb" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000;padding-right:38px" autocomplete="off" value="" title="Google &#44160;&#49353;" maxlength="2048" name="q" size="57"><img src="/textinputassistant/tia.png" style="position:absolute;cursor:pointer;right:5px;top:4px;z-index:300" data-script-url="/textinputassistant/13/ko_tia.js" id="tsuid_1" alt="" height="23" width="27"><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var id='tsuid_1';document.getElementById(id).onclick = function(){var s = document.createElement('script');s.src = this.getAttribute('data-script-url');document.body.appendChild(s);};})();</script></div></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google &#44160;&#49353;" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid_2" value="I&#8217;m Feeling Lucky" name="btnI" type="submit"><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var id='tsuid_2';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}
else top.location='/doodles/';};})();</script><input value="ANes7DEAAAAAZdau3FyoCEfR8Qg0hoHXJRnq19Qh3HEf" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=ko&amp;authuser=0">&#44256;&#44553;&#44160;&#49353;</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="WqQANb"><a href="/intl/ko/ads/">&#44305;&#44256;</a><a href="http://www.google.co.kr/intl/ko/services/">&#48708;&#51592;&#45768;&#49828; &#49556;&#47336;&#49496;</a><a href="/intl/ko/about.html">Google &#51221;&#48372;</a><a href="https://www.google.com/setprefdomain?prefdom=KR&amp;prev=https://www.google.co.kr/&amp;sig=K_DzLubFg-BnVJNNeV9LZCBxWbNtA%3D">Google.co.kr</a></div></div><p style="font-size:8pt;color:#70757a">&copy; 2024 - <a href="/intl/ko/policies/privacy/">&#44060;&#51064;&#51221;&#48372;&#52376;&#47532;&#48169;&#52840;</a> - <a href="/intl/ko/policies/terms/">&#50557;&#44288;</a></p></span></center><script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){window.google.cdo={height:757,width:1440};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}
if(a&&b&&(a!=google.cdo.width||b!=google.cdo.height)){var e=google,f=e.log,g="/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI,h="",k=[],l=void 0!==window.google&&void 0!==window.google.kOPI&&0!==window.google.kOPI?window.google.kOPI:null;null!=l&&k.push(["opi",l.toString()]);for(var m=0;m<k.length;m++){if(0===m||0<m)h+="&";h+=k[m][0]+"="+k[m][1]}f.call(e,"","",g+h)};}).call(this);})();</script> <script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){google.xjs={ck:'xjs.hp.cCFGMLu3g8M.L.X.O',combam:'AAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAcAABAABAAAABgAAAAAAAAQCAAOIiOAGAAjgAA8AI',cs:'ACT90oHcOYyQiq3C65KLPcbb0Y_JdJ5gQA',cssam:'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAABAAAAAAAAAAAAAAQCA',cssopt:true,csss:'ACT90oFRjQi9aDgMGqkapBAL2Oxnf2xEcA',excm:[],jsam:'AAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAcAAAAAAAAAABgAAAAAAAAAAAAOIiOAGAAjgAA8AI',jss:'ACT90oGCL6n_IiSRHMXgSajmeYXV_cP6YA',noinlinecss:false,sepam:true,sepcss:true};})();</script>     <script nonce="SmkBnO1J_nPBtc5GNXTVxQ">(function(){var u='/xjs/_/js/k\x3dxjs.hp.en.FYWQ8OLPxec.O/am\x3dAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAcAABAABAAAABgAAAAAAAAQCAAOIiOAGAAjgAA8AI/d\x3d1/ed\x3d1/rs\x3dACT90oGuseEkjTlIGXAHV3ne6-fjPAqX6g/m\x3dsb_he,d';var amd=0;
var e=this||self,f=function(a){return a};var g;var h=function(a){this.g=a};h.prototype.toString=function(){return this.g+""};var k={};var l=function(){var a=document;var b="SCRIPT";"application/xhtml+xml"===a.contentType&&(b=b.toLowerCase());return a.createElement(b)};
function m(a,b){a.src=b instanceof h&&b.constructor===h?b.g:"type_error:TrustedResourceUrl";var c,d;(c=(b=null==(d=(c=(a.ownerDocument&&a.ownerDocument.defaultView||window).document).querySelector)?void 0:d.call(c,"script[nonce]"))?b.nonce||b.getAttribute("nonce")||"":"")&&a.setAttribute("nonce",c)};function n(a){a=null===a?"null":void 0===a?"undefined":a;if(void 0===g){var b=null;var c=e.trustedTypes;if(c&&c.createPolicy){try{b=c.createPolicy("goog#html",{createHTML:f,createScript:f,createScriptURL:f})}catch(d){e.console&&e.console.error(d.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;return new h(a,k)};void 0===google.ps&&(google.ps=[]);function p(){var a=u,b=function(){};google.lx=google.stvsc?b:function(){q(a);google.lx=b};google.bx||google.lx()}function r(a,b){b&&m(a,n(b));var c=a.onload;a.onload=function(d){c&&c(d);google.ps=google.ps.filter(function(t){return a!==t})};google.ps.push(a);document.body.appendChild(a)}google.as=r;function q(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=l();b.onerror=function(){google.ple=1};b.onload=function(){google.ple=0};google.xjsus=void 0;r(b,a);google.aple=-1;google.psa=!0};google.xjsu=u;e._F_jsUrl=u;setTimeout(function(){0<amd?google.caft(function(){return p()},amd):p()},0);})();window._ = window._ || {};window._DumpException = _._DumpException = function(e){throw e;};window._s = window._s || {};_s._DumpException = _._DumpException;window._qs = window._qs || {};_qs._DumpException = _._DumpException;(function(){var t=[1,0,0,0,0,2560,0,268436487,528384,33652736,8388608,659456,9340984,37257600,3080192];window._F_toggles = window._xjs_toggles = t;})();function _F_installCss(c){}
(function(){google.jl={bfl:0,blt:'none',chnk:0,dw:false,dwu:true,emtn:0,end:0,ico:false,ikb:0,ine:false,injs:'none',injt:0,injth:0,injv2:false,lls:'default',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc='{\x22d\x22:{},\x22sb_he\x22:{\x22agen\x22:false,\x22cgen\x22:false,\x22client\x22:\x22heirloom-hp\x22,\x22dh\x22:true,\x22ds\x22:\x22\x22,\x22fl\x22:true,\x22host\x22:\x22google.com\x22,\x22jsonp\x22:true,\x22msgs\x22:{\x22cibl\x22:\x22\\uac80\\uc0c9\\uc5b4 \\uc9c0\\uc6b0\\uae30\x22,\x22dym\x22:\x22\\uc774\\uac83\\uc744 \\ucc3e\\uc73c\\uc168\\ub098\\uc694?\x22,\x22lcky\x22:\x22I\\u2019m Feeling Lucky\x22,\x22lml\x22:\x22\\uc790\\uc138\\ud788 \\uc54c\\uc544\\ubcf4\\uae30\x22,\x22psrc\x22:\x22\\uac80\\uc0c9\\uc5b4\\uac00 \\u003Ca href\x3d\\\x22/history\\\x22\\u003E\\uc6f9 \\uae30\\ub85d\\u003C/a\\u003E\\uc5d0\\uc11c \\uc0ad\\uc81c\\ub418\\uc5c8\\uc2b5\\ub2c8\\ub2e4.\x22,\x22psrl\x22:\x22\\uc0ad\\uc81c\x22,\x22sbit\x22:\x22\\uc774\\ubbf8\\uc9c0\\ub85c \\uac80\\uc0c9\x22,\x22srch\x22:\x22Google \\uac80\\uc0c9\x22},\x22ovr\x22:{},\x22pq\x22:\x22\x22,\x22rfs\x22:[],\x22sbas\x22:\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\x22,\x22stok\x22:\x22JJATyn16RtN2VDb9DR09cNug2cg\x22}}';google.pmc=JSON.parse(pmc);})();(function(){var b=function(a){var c=0;return function(){return c<a.length?{done:!1,value:a[c++]}:{done:!0}}};
var e=this||self;var g,h;a:{for(var k=["CLOSURE_FLAGS"],l=e,n=0;n<k.length;n++)if(l=l[k[n]],null==l){h=null;break a}h=l}var p=h&&h[610401301];g=null!=p?p:!1;var q,r=e.navigator;q=r?r.userAgentData||null:null;function t(a){return g?q?q.brands.some(function(c){return(c=c.brand)&&-1!=c.indexOf(a)}):!1:!1}function u(a){var c;a:{if(c=e.navigator)if(c=c.userAgent)break a;c=""}return-1!=c.indexOf(a)};function v(){return g?!!q&&0<q.brands.length:!1}function w(){return u("Safari")&&!(x()||(v()?0:u("Coast"))||(v()?0:u("Opera"))||(v()?0:u("Edge"))||(v()?t("Microsoft Edge"):u("Edg/"))||(v()?t("Opera"):u("OPR"))||u("Firefox")||u("FxiOS")||u("Silk")||u("Android"))}function x(){return v()?t("Chromium"):(u("Chrome")||u("CriOS"))&&!(v()?0:u("Edge"))||u("Silk")}function y(){return u("Android")&&!(x()||u("Firefox")||u("FxiOS")||(v()?0:u("Opera"))||u("Silk"))};var z=v()?!1:u("Trident")||u("MSIE");y();x();w();Object.freeze(new function(){});Object.freeze(new function(){});var A=!z&&!w(),D=function(a){if(/-[a-z]/.test("ved"))return null;if(A&&a.dataset){if(y()&&!("ved"in a.dataset))return null;a=a.dataset.ved;return void 0===a?null:a}return a.getAttribute("data-"+"ved".replace(/([A-Z])/g,"-$1").toLowerCase())};var E=[],F=null;function G(a){a=a.target;var c=performance.now(),f=[],H=f.concat,d=E;if(!(d instanceof Array)){var m="undefined"!=typeof Symbol&&Symbol.iterator&&d[Symbol.iterator];if(m)d=m.call(d);else if("number"==typeof d.length)d={next:b(d)};else throw Error("a`"+String(d));for(var B=[];!(m=d.next()).done;)B.push(m.value);d=B}E=H.call(f,d,[c]);if(a&&a instanceof HTMLElement)if(a===F){if(c=4<=E.length)c=5>(E[E.length-1]-E[E.length-4])/1E3;if(c){c=google.getEI(a);a.hasAttribute("data-ved")?f=a?D(a)||"":"":f=(f=
a.closest("[data-ved]"))?D(f)||"":"";f=f||"";if(a.hasAttribute("jsname"))a=a.getAttribute("jsname");else{var C;a=null==(C=a.closest("[jsname]"))?void 0:C.getAttribute("jsname")}google.log("rcm","&ei="+c+"&ved="+f+"&jsname="+(a||""))}}else F=a,E=[c]}window.document.addEventListener("DOMContentLoaded",function(){document.body.addEventListener("click",G)});}).call(this);</script></body></html>

In [63]:
# api 주소
url="http://172.16.12.155:8080/corona"
# 해당되는 주소에서 필수적으로 보내야되는 요청 변수
_params={'serviceKey':'aaa','_limit':50}
response=requests.get(url, params=_params)

In [64]:
url2="http://172.16.12.155:8080/corona?serviceKey=aaa&_limit=50"
response2=requests.get(url2)

In [65]:
print(response)
print(response2)

<Response [200]>
<Response [200]>

In [66]:
print(type(response.text))

<class 'str'>

In [67]:
print(type(response2.content))

<class 'bytes'>

In [68]:
print(type(response.text))

<class 'str'>

In [69]:
# from ast import literal_eval

In [70]:
import json

In [71]:
response.text

'[\n  {\n    "MyUnknownColumn": 0,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-08 09:09:05.982",\n    "deathCnt": 24305,\n    "decideCnt": 18188200,\n    "seq": 904,\n    "stateDt": 20220608,\n    "stateTime": "00:00",\n    "updateDt": null\n  },\n  {\n    "MyUnknownColumn": 1,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-07 09:09:00.897",\n    "deathCnt": 24299,\n    "decideCnt": 18174842,\n    "seq": 903,\n    "stateDt": 20220607,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:10:36.846"\n  },\n  {\n    "MyUnknownColumn": 2,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-06 09:00:06.734",\n    "deathCnt": 24279,\n    "decideCnt": 18168670,\n    "seq": 902,\n    "stateDt": 20220606,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:10:50.441"\n  },\n  {\n    "MyUnknownColumn": 3,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-05 08:53:19.426",\n    "deathCnt": 24258,\n    "decideCnt": 18163648,\n    "seq": 901,\n    "stateDt": 20220605,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:04.758"\n  },\n  {\n    "MyUnknownColumn": 4,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-04 08:56:49.219",\n    "deathCnt": 24238,\n    "decideCnt": 18153814,\n    "seq": 900,\n    "stateDt": 20220604,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:26.303"\n  },\n  {\n    "MyUnknownColumn": 5,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-03 09:08:18.729",\n    "deathCnt": 24229,\n    "decideCnt": 18141775,\n    "seq": 899,\n    "stateDt": 20220603,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:38.938"\n  },\n  {\n    "MyUnknownColumn": 6,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-02 08:58:19.746",\n    "deathCnt": 24212,\n    "decideCnt": 18129236,\n    "seq": 898,\n    "stateDt": 20220602,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:11:51.985"\n  },\n  {\n    "MyUnknownColumn": 7,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-06-01 09:07:30.461",\n    "deathCnt": 24197,\n    "decideCnt": 18119345,\n    "seq": 897,\n    "stateDt": 20220601,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-08 09:12:05.316"\n  },\n  {\n    "MyUnknownColumn": 8,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-31 08:55:39.977",\n    "deathCnt": 24176,\n    "decideCnt": 18103577,\n    "seq": 896,\n    "stateDt": 20220531,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:23.637"\n  },\n  {\n    "MyUnknownColumn": 9,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-30 09:01:30.847",\n    "deathCnt": 24167,\n    "decideCnt": 18086392,\n    "seq": 895,\n    "stateDt": 20220530,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:37.203"\n  },\n  {\n    "MyUnknownColumn": 10,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-29 09:05:28.382",\n    "deathCnt": 24158,\n    "decideCnt": 18080257,\n    "seq": 894,\n    "stateDt": 20220529,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 08:59:51.863"\n  },\n  {\n    "MyUnknownColumn": 11,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-28 09:09:18.909",\n    "deathCnt": 24139,\n    "decideCnt": 18067610,\n    "seq": 893,\n    "stateDt": 20220528,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-04 09:00:06.316"\n  },\n  {\n    "MyUnknownColumn": 12,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-27 09:03:34.444",\n    "deathCnt": 24103,\n    "decideCnt": 18053236,\n    "seq": 892,\n    "stateDt": 20220527,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-03 09:11:10.578"\n  },\n  {\n    "MyUnknownColumn": 13,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-26 09:13:37.732",\n    "deathCnt": 24063,\n    "decideCnt": 18036664,\n    "seq": 891,\n    "stateDt": 20220526,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-01 09:08:19.164"\n  },\n  {\n    "MyUnknownColumn": 14,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-25 09:02:44.294",\n    "deathCnt": 24029,\n    "decideCnt": 18017859,\n    "seq": 890,\n    "stateDt": 20220525,\n    "stateTime": "00:00",\n    "updateDt": "2022-06-01 09:08:25.254"\n  },\n  {\n    "MyUnknownColumn": 15,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-24 08:49:38.261",\n    "deathCnt": 24006,\n    "decideCnt": 17993923,\n    "seq": 889,\n    "stateDt": 20220524,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-31 08:58:44.451"\n  },\n  {\n    "MyUnknownColumn": 16,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-23 08:56:56.412",\n    "deathCnt": 23987,\n    "decideCnt": 17967592,\n    "seq": 888,\n    "stateDt": 20220523,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:13.674"\n  },\n  {\n    "MyUnknownColumn": 17,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-22 07:52:40.527",\n    "deathCnt": 23965,\n    "decideCnt": 17957621,\n    "seq": 887,\n    "stateDt": 20220522,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:20.33"\n  },\n  {\n    "MyUnknownColumn": 18,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-21 08:39:51.786",\n    "deathCnt": 23911,\n    "decideCnt": 17938332,\n    "seq": 886,\n    "stateDt": 20220521,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-28 09:10:27.211"\n  },\n  {\n    "MyUnknownColumn": 19,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-20 09:02:54.987",\n    "deathCnt": 23885,\n    "decideCnt": 17914882,\n    "seq": 885,\n    "stateDt": 20220520,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-27 09:04:41.621"\n  },\n  {\n    "MyUnknownColumn": 20,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-19 09:07:11.841",\n    "deathCnt": 23842,\n    "decideCnt": 17889769,\n    "seq": 884,\n    "stateDt": 20220519,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-26 09:16:54.036"\n  },\n  {\n    "MyUnknownColumn": 21,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-18 08:58:30.377",\n    "deathCnt": 23802,\n    "decideCnt": 17861660,\n    "seq": 883,\n    "stateDt": 20220518,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-25 09:05:49.683"\n  },\n  {\n    "MyUnknownColumn": 22,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-17 09:04:52.287",\n    "deathCnt": 23771,\n    "decideCnt": 17830327,\n    "seq": 882,\n    "stateDt": 20220517,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-24 09:18:48.656"\n  },\n  {\n    "MyUnknownColumn": 23,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-16 09:04:43.174",\n    "deathCnt": 23744,\n    "decideCnt": 17795242,\n    "seq": 881,\n    "stateDt": 20220516,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:47:40.875"\n  },\n  {\n    "MyUnknownColumn": 24,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-15 09:27:15.538",\n    "deathCnt": 23709,\n    "decideCnt": 17781952,\n    "seq": 880,\n    "stateDt": 20220515,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:47:54.484"\n  },\n  {\n    "MyUnknownColumn": 25,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-14 09:46:39.377",\n    "deathCnt": 23661,\n    "decideCnt": 17756527,\n    "seq": 879,\n    "stateDt": 20220514,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-21 08:48:13.125"\n  },\n  {\n    "MyUnknownColumn": 26,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-13 09:09:51.89",\n    "deathCnt": 23606,\n    "decideCnt": 17726955,\n    "seq": 878,\n    "stateDt": 20220513,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-20 09:06:42.817"\n  },\n  {\n    "MyUnknownColumn": 27,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-12 09:05:26.458",\n    "deathCnt": 23554,\n    "decideCnt": 17694520,\n    "seq": 877,\n    "stateDt": 20220512,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-19 17:37:18.336"\n  },\n  {\n    "MyUnknownColumn": 28,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-11 09:01:52.873",\n    "deathCnt": 23491,\n    "decideCnt": 17658638,\n    "seq": 876,\n    "stateDt": 20220511,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-19 17:38:10.681"\n  },\n  {\n    "MyUnknownColumn": 29,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-10 09:02:38.129",\n    "deathCnt": 23462,\n    "decideCnt": 17614757,\n    "seq": 875,\n    "stateDt": 20220510,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-17 09:06:40.689"\n  },\n  {\n    "MyUnknownColumn": 30,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-09 09:06:19.774",\n    "deathCnt": 23400,\n    "decideCnt": 17564861,\n    "seq": 874,\n    "stateDt": 20220509,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:34:58.518"\n  },\n  {\n    "MyUnknownColumn": 31,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-08 09:02:00.163",\n    "deathCnt": 23360,\n    "decideCnt": 17544273,\n    "seq": 873,\n    "stateDt": 20220508,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:35:16.208"\n  },\n  {\n    "MyUnknownColumn": 32,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-07 09:18:40.439",\n    "deathCnt": 23289,\n    "decideCnt": 17504225,\n    "seq": 872,\n    "stateDt": 20220507,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-14 10:35:34.039"\n  },\n  {\n    "MyUnknownColumn": 33,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-06 08:06:00.523",\n    "deathCnt": 23206,\n    "decideCnt": 17464662,\n    "seq": 871,\n    "stateDt": 20220506,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-13 09:11:27.572"\n  },\n  {\n    "MyUnknownColumn": 34,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-05 09:23:43.381",\n    "deathCnt": 23158,\n    "decideCnt": 17437984,\n    "seq": 870,\n    "stateDt": 20220505,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-12 09:06:57.564"\n  },\n  {\n    "MyUnknownColumn": 35,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-04 09:11:34.915",\n    "deathCnt": 23079,\n    "decideCnt": 17395705,\n    "seq": 869,\n    "stateDt": 20220504,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-11 09:03:27.014"\n  },\n  {\n    "MyUnknownColumn": 36,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-03 09:08:23.319",\n    "deathCnt": 23007,\n    "decideCnt": 17346659,\n    "seq": 868,\n    "stateDt": 20220503,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-10 10:09:55.309"\n  },\n  {\n    "MyUnknownColumn": 37,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-02 09:01:12.093",\n    "deathCnt": 22958,\n    "decideCnt": 17295553,\n    "seq": 867,\n    "stateDt": 20220502,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:20:27.275"\n  },\n  {\n    "MyUnknownColumn": 38,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-05-01 09:15:03.496",\n    "deathCnt": 22875,\n    "decideCnt": 17275477,\n    "seq": 866,\n    "stateDt": 20220501,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:20:49.891"\n  },\n  {\n    "MyUnknownColumn": 39,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-30 09:17:39.409",\n    "deathCnt": 22794,\n    "decideCnt": 17237717,\n    "seq": 865,\n    "stateDt": 20220430,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-07 09:21:13.949"\n  },\n  {\n    "MyUnknownColumn": 40,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-29 09:03:59.658",\n    "deathCnt": 22724,\n    "decideCnt": 17194473,\n    "seq": 864,\n    "stateDt": 20220429,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-05 09:26:15.183"\n  },\n  {\n    "MyUnknownColumn": 41,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-28 09:02:00.054",\n    "deathCnt": 22588,\n    "decideCnt": 17143917,\n    "seq": 863,\n    "stateDt": 20220428,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-05 09:26:29.55"\n  },\n  {\n    "MyUnknownColumn": 42,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-27 09:01:55.815",\n    "deathCnt": 22466,\n    "decideCnt": 17086471,\n    "seq": 862,\n    "stateDt": 20220427,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-04 09:13:13.366"\n  },\n  {\n    "MyUnknownColumn": 43,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-26 09:02:16.27",\n    "deathCnt": 22325,\n    "decideCnt": 17009707,\n    "seq": 861,\n    "stateDt": 20220426,\n    "stateTime": "00:00",\n    "updateDt": "2022-05-03 09:11:15.127"\n  },\n  {\n    "MyUnknownColumn": 44,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-25 09:02:21.688",\n    "deathCnt": 22243,\n    "decideCnt": 16929440,\n    "seq": 860,\n    "stateDt": 20220425,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:23:49.525"\n  },\n  {\n    "MyUnknownColumn": 45,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-24 08:36:32.893",\n    "deathCnt": 22133,\n    "decideCnt": 16895079,\n    "seq": 859,\n    "stateDt": 20220424,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:25:01.983"\n  },\n  {\n    "MyUnknownColumn": 46,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-23 08:54:03.35",\n    "deathCnt": 22024,\n    "decideCnt": 16830375,\n    "seq": 858,\n    "stateDt": 20220423,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-30 09:24:15.874"\n  },\n  {\n    "MyUnknownColumn": 47,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-22 09:08:41.733",\n    "deathCnt": 21873,\n    "decideCnt": 16754952,\n    "seq": 857,\n    "stateDt": 20220422,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-29 09:05:42.917"\n  },\n  {\n    "MyUnknownColumn": 48,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-21 09:05:31.131",\n    "deathCnt": 21667,\n    "decideCnt": 16673919,\n    "seq": 856,\n    "stateDt": 20220421,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-28 09:04:37.11"\n  },\n  {\n    "MyUnknownColumn": 49,\n    "accDefRate": "",\n    "accExamCnt": "",\n    "createDt": "2022-04-20 09:05:36.813",\n    "deathCnt": 21520,\n    "decideCnt": 16583076,\n    "seq": 855,\n    "stateDt": 20220420,\n    "stateTime": "00:00",\n    "updateDt": "2022-04-27 09:03:39.849"\n  }\n]\n'

In [72]:
data = json.loads(response.text)

In [73]:
import pandas as pd

In [74]:
pd.DataFrame(data)

,MyUnknownColumn,accDefRate,accExamCnt,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt
0,0,,,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,None
1,1,,,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846
2,2,,,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441
3,3,,,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758
4,4,,,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303
5,5,,,2022-06-03 09:08:18.729,24229,18141775,899,20220603,00:00,2022-06-08 09:11:38.938
6,6,,,2022-06-02 08:58:19.746,24212,18129236,898,20220602,00:00,2022-06-08 09:11:51.985
7,7,,,2022-06-01 09:07:30.461,24197,18119345,897,20220601,00:00,2022-06-08 09:12:05.316
8,8,,,2022-05-31 08:55:39.977,24176,18103577,896,20220531,00:00,2022-06-04 08:59:23.637
9,9,,,2022-05-30 09:01:30.847,24167,18086392,895,20220530,00:00,2022-06-04 08:59:37.203
10,10,,,2022-05-29 09:05:28.382,24158,18080257,894,20220529,00:00,2022-06-04 08:59:51.863
11,11,,,2022-05-28 09:09:18.909,24139,18067610,893,20220528,00:00,2022-06-04 09:00:06.316
12,12,,,2022-05-27 09:03:34.444,24103,18053236,892,20220527,00:00,2022-06-03 09:11:10.578
13,13,,,2022-05-26 09:13:37.732,24063,18036664,891,20220526,00:00,2022-06-01 09:08:19.164
14,14,,,2022-05-25 09:02:44.294,24029,18017859,890,20220525,00:00,2022-06-01 09:08:25.254
15,15,,,2022-05-24 08:49:38.261,24006,17993923,889,20220524,00:00,2022-05-31 08:58:44.451
16,16,,,2022-05-23 08:56:56.412,23987,17967592,888,20220523,00:00,2022-05-28 09:10:13.674
17,17,,,2022-05-22 07:52:40.527,23965,17957621,887,20220522,00:00,2022-05-28 09:10:20.33
18,18,,,2022-05-21 08:39:51.786,23911,17938332,886,20220521,00:00,2022-05-28 09:10:27.211
19,19,,,2022-05-20 09:02:54.987,23885,17914882,885,20220520,00:00,2022-05-27 09:04:41.621
20,20,,,2022-05-19 09:07:11.841,23842,17889769,884,20220519,00:00,2022-05-26 09:16:54.036
21,21,,,2022-05-18 08:58:30.377,23802,17861660,883,20220518,00:00,2022-05-25 09:05:49.683
22,22,,,2022-05-17 09:04:52.287,23771,17830327,882,20220517,00:00,2022-05-24 09:18:48.656
23,23,,,2022-05-16 09:04:43.174,23744,17795242,881,20220516,00:00,2022-05-21 08:47:40.875
24,24,,,2022-05-15 09:27:15.538,23709,17781952,880,20220515,00:00,2022-05-21 08:47:54.484
25,25,,,2022-05-14 09:46:39.377,23661,17756527,879,20220514,00:00,2022-05-21 08:48:13.125
26,26,,,2022-05-13 09:09:51.89,23606,17726955,878,20220513,00:00,2022-05-20 09:06:42.817
27,27,,,2022-05-12 09:05:26.458,23554,17694520,877,20220512,00:00,2022-05-19 17:37:18.336
28,28,,,2022-05-11 09:01:52.873,23491,17658638,876,20220511,00:00,2022-05-19 17:38:10.681
29,29,,,2022-05-10 09:02:38.129,23462,17614757,875,20220510,00:00,2022-05-17 09:06:40.689
30,30,,,2022-05-09 09:06:19.774,23400,17564861,874,20220509,00:00,2022-05-14 10:34:58.518
31,31,,,2022-05-08 09:02:00.163,23360,17544273,873,20220508,00:00,2022-05-14 10:35:16.208
32,32,,,2022-05-07 09:18:40.439,23289,17504225,872,20220507,00:00,2022-05-14 10:35:34.039
33,33,,,2022-05-06 08:06:00.523,23206,17464662,871,20220506,00:00,2022-05-13 09:11:27.572
34,34,,,2022-05-05 09:23:43.381,23158,17437984,870,20220505,00:00,2022-05-12 09:06:57.564
35,35,,,2022-05-04 09:11:34.915,23079,17395705,869,20220504,00:00,2022-05-11 09:03:27.014
36,36,,,2022-05-03 09:08:23.319,23007,17346659,868,20220503,00:00,2022-05-10 10:09:55.309
37,37,,,2022-05-02 09:01:12.093,22958,17295553,867,20220502,00:00,2022-05-07 09:20:27.275
38,38,,,2022-05-01 09:15:03.496,22875,17275477,866,20220501,00:00,2022-05-07 09:20:49.891
39,39,,,2022-04-30 09:17:39.409,22794,17237717,865,20220430,00:00,2022-05-07 09:21:13.949
40,40,,,2022-04-29 09:03:59.658,22724,17194473,864,20220429,00:00,2022-05-05 09:26:15.183
41,41,,,2022-04-28 09:02:00.054,22588,17143917,863,20220428,00:00,2022-05-05 09:26:29.55
42,42,,,2022-04-27 09:01:55.815,22466,17086471,862,20220427,00:00,2022-05-04 09:13:13.366
43,43,,,2022-04-26 09:02:16.27,22325,17009707,861,20220426,00:00,2022-05-03 09:11:15.127
44,44,,,2022-04-25 09:02:21.688,22243,16929440,860,20220425,00:00,2022-04-30 09:23:49.525
45,45,,,2022-04-24 08:36:32.893,22133,16895079,859,20220424,00:00,2022-04-30 09:25:01.983
46,46,,,2022-04-23 08:54:03.35,22024,16830375,858,20220423,00:00,2022-04-30 09:24:15.874
47,47,,,2022-04-22 09:08:41.733,21873,16754952,857,20220422,00:00,2022-04-29 09:05:42.917
48,48,,,2022-04-21 09:05:31.131,21667,16673919,856,20220421,00:00,2022-04-28 09:04:37.11
49,49,,,2022-04-20 09:05:36.813,21520,16583076,855,20220420,00:00,2022-04-27 09:03:39.849

In [77]:
# 공공데이터포털에서 데이터를 수집
url="http://apis.data.go.kr/1741000/RegistrationPopulationByRegion/getRegistrationPopulationByRegion"

_params={'serviceKey':"dtbWOdJ/Cz5HE0DGLU+CRPe7pOW0NIQBUcGEqsHZaTRiYCI/5+zugwzQjcvuId7NPdg6rUiW+ft3fm7yqyD4pw==",
         'pageNo':1,
         'numOfRows':10}

res=requests.get(url, params=_params, verify=False)
print(res)

<Response [200]>

In [78]:
res.text

'<?xml version="1.0" encoding="UTF-8"?>\n\n<RegistrationPopulationByRegion>\n  <head>\n    <totalCount>266</totalCount>\n    <numOfRows>10</numOfRows>\n    <pageNo>1</pageNo>\n    <type>XML</type>\n    <RESULT>\n      <resultCode>INFO-0</resultCode>\n      <resultMsg>NOMAL SERVICE</resultMsg>\n    </RESULT>\n  </head>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>1</seq>\n    <regi>계</regi>\n    <population_tot>49540367</population_tot>\n    <population_man>24822897</population_man>\n    <population_female>24717470</population_female>\n    <houshol>19005339</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>2</seq>\n    <regi>서울</regi>\n    <population_tot>10200827</population_tot>\n    <population_man>5061809</population_man>\n    <population_female>5139018</population_female>\n    <houshol>4097562</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>3</seq>\n    <regi>부산</regi>\n    <population_tot>3564577</population_tot>\n    <population_man>1773154</population_man>\n    <population_female>1791423</population_female>\n    <houshol>1311724</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>4</seq>\n    <regi>대구</regi>\n    <population_tot>2492724</population_tot>\n    <population_man>1246873</population_man>\n    <population_female>1245851</population_female>\n    <houshol>894969</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>5</seq>\n    <regi>인천</regi>\n    <population_tot>2692696</population_tot>\n    <population_man>1356473</population_man>\n    <population_female>1336223</population_female>\n    <houshol>1014755</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>6</seq>\n    <regi>광주</regi>\n    <population_tot>1422702</population_tot>\n    <population_man>705817</population_man>\n    <population_female>716885</population_female>\n    <houshol>513021</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>7</seq>\n    <regi>대전</regi>\n    <population_tot>1480895</population_tot>\n    <population_man>741611</population_man>\n    <population_female>739284</population_female>\n    <houshol>531682</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>8</seq>\n    <regi>울산</regi>\n    <population_tot>1112407</population_tot>\n    <population_man>572815</population_man>\n    <population_female>539592</population_female>\n    <houshol>389735</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>9</seq>\n    <regi>경기</regi>\n    <population_tot>11292264</population_tot>\n    <population_man>5690673</population_man>\n    <population_female>5601591</population_female>\n    <houshol>4284475</houshol>\n  </row>\n  <row>\n    <wrttimeid>2008</wrttimeid>\n    <seq>10</seq>\n    <regi>강원</regi>\n    <population_tot>1508575</population_tot>\n    <population_man>759282</population_man>\n    <population_female>749293</population_female>\n    <houshol>606950</houshol>\n  </row>\n</RegistrationPopulationByRegion>\n\n'

In [79]:
# xml 데이터를 dict 형태로 변환
# 라이브러리 설치
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [80]:
import xmltodict

In [82]:
data=xmltodict.parse(res.content)

In [83]:
from pprint import pprint

In [89]:
data=data['RegistrationPopulationByRegion']['row']

In [90]:
df=pd.DataFrame(data)
df.head()

  wrttimeid seq regi population_tot population_man population_female   houshol
0      2008   1    계       49540367       24822897          24717470  19005339
1      2008   2   서울       10200827        5061809           5139018   4097562
2      2008   3   부산        3564577        1773154           1791423   1311724
3      2008   4   대구        2492724        1246873           1245851    894969
4      2008   5   인천        2692696        1356473           1336223   1014755

1. seq 컬럼을 제거
2. 컬럼의 이름을 변경 -> ['년도','지역','전체인구수','남자인구수','여자인구수','가구수']

In [97]:
# 특정 컬럼의 제거
df=df.drop(['seq'], axis=1)

KeyError: "['seq'] not found in axis"

In [93]:
# 컬럼의 이름을 변경
df.columns=['년도','지역','전체인구수','남자인구수','여자인구수','가구수']

In [94]:
df

     년도  지역     전체인구수     남자인구수     여자인구수       가구수
0  2008   계  49540367  24822897  24717470  19005339
1  2008  서울  10200827   5061809   5139018   4097562
2  2008  부산   3564577   1773154   1791423   1311724
3  2008  대구   2492724   1246873   1245851    894969
4  2008  인천   2692696   1356473   1336223   1014755
5  2008  광주   1422702    705817    716885    513021
6  2008  대전   1480895    741611    739284    531682
7  2008  울산   1112407    572815    539592    389735
8  2008  경기  11292264   5690673   5601591   4284475
9  2008  강원   1508575    759282    749293    606950

In [100]:
# 데이터프레임을 파일로 저장
# 컴퓨터의 입장 : DataFrame 형식의 데이터를 csv 형식으로 변환
df.to_csv("pop.csv", index=False, encoding='CP949')

In [101]:
df.to_excel('pop.xlsx',index=False)

In [102]:
# 데이터 프레임을 sql에 저장
!pip install sqlalchemy

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/00/2d/7d8f369f22bf08344a266518de9aaa82bcfe3830245df4c50f436568a0f9/SQLAlchemy-2.0.27-cp312-cp312-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.27-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Obtaining dependency information for typing-extensions>=4.6.0 from https://files.pythonhosted.org/packages/b7/f4/6a90020cd2d93349b442bfcb657d0dc91eee65491600b2cb1d388bc98e6b/typing_extensions-4.9.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/53/80/3d94d5999b4179d91bcc93745d1b0815b073d61be79dd546b840d17adb18/greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.27-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 445.2 kB/s eta 0:00:05
   ------- -------------------------------- 0.4/2.1 MB 4.2 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 12.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 9.4 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   --------------------------------------- 293.6/293.6 kB 18.9 MB/s eta 0:00:00
Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.27 typing-extensions-4.9.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [103]:
from sqlalchemy import create_engine
import pymysql

In [107]:
db_connection_str="mysql+pymysql://root:1234@127.0.0.1:3307/ubion10"
db_connection=create_engine(db_connection_str)
conn=db_connection.connect()

In [108]:
df.to_sql(name='pop_table',con=db_connection,if_exists='replace',index=False)

10